{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        {% for p in products %}
        <div class="col-12 col-md-4 my-auto">
            <div class="card rounded-0 text-center">
                <a href="{% url 'product_detail' p.id %}" style="text-decoration: none;">
                    <div class="card-body">
                        <h3 class="card-title text-black">
                            {{ p.name }}
                            {% if request.user.is_superuser %}
                            <button type="button" class="btn btn-outline-danger rounded-0 mb-2" data-toggle="modal"
                                data-target="#deleteModal" data-product_id="{{ p.id }}">
                                <i class="fa-solid fa-minus"></i>
                            </button>
                            {% endif %}
                        </h3>
                        {% for i in cover_images %}
                            {% if i.product == p %}
                                <img src="{{ i.image.url }}" class="card-img-bottom" alt="{{ p.description }}">
                            {% endif %}
                        {% endfor %}
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if request.user.is_superuser %}
    <a href="{% url 'add_product' %}" class="btn btn-outline-black rounded-0 my-3">
        <span class="icon">
            <i class="fa-solid fa-plus"></i>
        </span>
        <span class="text-uppercase">Add Product</span>
    </a>
    {% endif %}
</div>

{% include 'products/includes/delete_modal.html' %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    $('.btn-outline-danger').click(function (e) {
        var productId = $(this).attr('data-product_id');
        $( '.modal-title' ).text( "Delete Product" );
        $('#deleteConfirm').attr('href', `delete/${productId}`);
    })
</script>
{% endblock %}